body{
    background-color:rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
}
.board{
    background-color: white;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(3,1fr);
    width:300px;
    height:300px;
}
button{
    all:unset;
    border: 1px solid rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
}
.form{
    background-color:rgb(176, 230, 176);
    margin-right:20px;
    padding:20px;
}
.submit{
    all:unset;
    background-color:green;
    color:white;
    border-radius:10px;
    padding:10px;


}
#results{
    background-color:green;
}