@font-face {
    font-family: 'Indie Flower';
    src: url('IndieFlower.woff2') format('woff2'),
        url('IndieFlower.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mountains of Christmas';
    src: url('MountainsofChristmas-Regular.woff2') format('woff2'),
        url('MountainsofChristmas-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

